* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
}

.main {
  position: relative;
  z-index: 1000;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 138, 90);
  padding: 0;
  height: 170px;
  justify-content: center;
}

.shirt-btn,
.cart-btn {
  width: 2rem;
}

.header-logo-container {
  display: flex;
  justify-content: center;
}

.header-logo {
  align-self: center;
  width: 14rem;
}

.header-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.back-btn {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: #0b353f;
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 0.5rem;
  justify-content: center;
  height: 96px;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.social-btn {
  display: flex;
  gap: 1rem;
}

.footer-logo {
  height: 3rem;
}

.footer-text {
  margin: 1rem;
}

.facebook-logo {
  height: 20px;
  width: 20px;
}

.facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-logo {
  height: 20px;
  width: 20px;
}

.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-btn {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}


.desktop {
  display: none;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
  .back-btn {
    display: none;
  }

  .desktop {
    display: block;
  }

  .back-btn {
    display: none;
  }

  .mobile {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 130px;
    margin-bottom: 4rem;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    justify-content: flex-end;
    gap: 2rem;
  }

  .nav-text {
    font-size: 1.3rem;
    min-width: fit-content;
    border-bottom: 2px solid white;
    padding-bottom: 0.2rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .nav-text:last-child {
    margin-right: 2rem;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .footer-text {
    font-size: 0.7rem;
  }

  .facebook-logo {
    height: 30px;
    width: 30px;
  }

  .facebook {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .twitter-logo {
    height: 30px;
    width: 30px;
  }

  .twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-btn {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}
