* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
}

.main {
  position: relative;
  z-index: 1000;
}

.bg-homepage {
  background: url(/img/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(65%);
}

a {
  color: white;
}

.paragraph-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.3rem;
  overflow-wrap: break-word;
  border: solid #d79f67;
  border-radius: 0 59px 0 59px;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 25rem;
}

.paragraph-text {
  color: white;
  font-size: 0.8rem;
}

.nav-container {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  width: 8rem;
  border-radius: 15px;
  height: 2.5rem;
  margin-top: 2rem;
  border: solid #d79f67 2px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.desktop {
  display: none;
}

.paragraph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .bg-homepage {
    background-image: url(/img/tablet-bg.jpg);
  }

  .paragraph-container {
    width: 25rem;
  }
}

@media screen and (min-width: 769px) {
  .back-btn {
    display: none;
  }

  .bg-homepage {
    background-image: url(/img/homepage_bg.jpg);
  }

  .mobile {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .paragraph-container {
    display: flex;
    flex: 20rem 1 100%;
    backdrop-filter: brightness(50%);
    align-items: center;
    padding-top: 1rem;
  }

  .paragraph-text {
    font-size: 1rem;
  }

  .right-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #d79f67;
    border-radius: 0 59px 0 59px;
    width: 25rem;
    height: 16rem;
    margin-top: 3rem;
    backdrop-filter: brightness(50%);
  }

  .home-jacket {
    width: 9rem;
    height: 9rem;
  }

  .collection-btn-body {
    border: solid #d79f67;
  }
  .button-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desktop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 16rem;
    border-radius: 15px;
    height: 2.5rem;
    margin-top: 2rem;
    border: solid #d79f67 2px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-underline-offset: 2px;
    font-size: 1rem;
    margin-left: 5rem;
  }
  .paragraph-wrapper {
    justify-content: space-evenly;
  }
}
