* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
  padding-bottom: 4rem;
}

.main {
  position: relative;
  z-index: 1000;
}

.bg-about {
  background-image: url(/img/canoe_about_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(65%);
  z-index: -10;
}

a {
  color: white;
}

.paragraph-container {
  display: flex;
  flex: 50rem 1 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.3rem;
  overflow-wrap: break-word;
  border: solid #d79f67;
  border-radius: 0 59px 0 59px;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  backdrop-filter: brightness(50%);
}

.paragraph-text {
  color: white;
  font-size: 1rem;
}

.paragraph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .bg-homepage {
    background-image: url(/img/tablet-bg.png);
  }

  .paragraph-container {
    width: 25rem;
  }
}

@media screen and (min-width: 769px) {
  .back-btn {
    display: none;
  }

  .bg-homepage {
    background-image: url(/img/homepage_bg.jpg);
  }

  .mobile {
    display: none;
  }

  .paragraph-container {
    display: flex;
    width: 40rem;
    backdrop-filter: brightness(50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }

  .paragraph-text {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 3rem;
  }
}
