* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
  padding-bottom: 2rem;
}

.main {
  position: relative;
}

a {
  color: white;
}

.bg-mycart {
  background-image: url(/img/mycart-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(60%);
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(185, 138, 90, 0.85);
  padding: 0;
  height: 170px;
  justify-content: center;
}

.shirt-btn,
.cart-btn {
  width: 2rem;
}

.header-logo-container {
  display: flex;
  justify-content: center;
}

.header-logo {
  align-self: center;
  width: 14rem;
}

.header-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.back-btn {
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.main-section {
  display: flex;
  justify-content: center;
}

.mycart-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  gap: 3rem;
}

.shoppingcart-headline {
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 1rem;
}

.cart-container {
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  max-width: 500px;
  color: white;
  border: 1px #d79f67 solid;
  border-radius: 0 132px 0 132px;
  backdrop-filter: brightness(50%);
  overflow: hidden;
  min-height: 412px;
  width: 100%;
}

.jacket-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  font-weight: 700;
}

.jacket2-png {
  height: 8rem;
}

.underline-over {
  border-top: #d79f67 solid 1px;
  border-bottom: #d79f67 solid 1px;
  margin-right: 2rem;
  margin: 2rem 1rem;
  padding: 1rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.remove-btn {
  background: none;
  border: none;
  color: #d79f67;
  border-bottom: #d79f67 solid 1px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.remove-btn:hover {
  color: #d79f67a4;
  border-color: #d79f67a4;
}

.product-box {
  display: flex;
  gap: 4rem;
}

.summary-container {
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  max-width: 500px;
  color: white;
  border: 1px #d79f67 solid;
  border-radius: 0 132px 0 132px;
  backdrop-filter: brightness(50%);
  overflow: hidden;
  min-height: 412px;
  width: 100%;
}

.summary-text {
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.summary-text-box {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 4rem;
}

.total-shipping-box {
  font-weight: 700;
}

.price-total-shipping-box {
  font-weight: 300;
}

.price-total {
  margin-bottom: 2rem;
}

.check-out-btn {
  color: white;
  background-color: #d79f67;
  border: 1px #d79f67 solid;
  border-radius: 16px;
  display: flex;
  padding: 0.3rem 0;
  justify-content: center;
  width: 10rem;
  margin-top: 2rem;
}

.check-out-btn:hover {
  color: rgba(255, 255, 255, 0.726);
  border-color: #d79f67a4;
  background-color: #d79f67a4;
}

.checkout-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.nav-container {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer {
  background-color: #0b353f;
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 0.5rem;
  justify-content: center;
  height: 96px;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.social-btn {
  display: flex;
  gap: 2rem;
}

.footer-logo {
  height: 3rem;
}

.footer-text {
  margin: 1rem;
}

.desktop {
  display: none;
}

.paragraph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .bg-homepage {
    background-image: url(/img/tablet-bg.png);
  }

  .paragraph-container {
    width: 25rem;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 170px;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    justify-content: flex-end;
  }

  .nav-text {
    margin-right: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    min-width: fit-content;
    border-bottom: 2px solid white;
    padding-bottom: 0.2rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .nav-text:last-child {
    margin-right: 2rem;
  }

  /* My cart start */

  .mycart-wrapper {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .paragraph-container {
    display: flex;
    width: 44.3rem;
    height: 45rem;
    backdrop-filter: brightness(50%);
    align-items: left;
    padding-top: 1rem;
  }

  .paragraph-text {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 3rem;
  }
}
