* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
  padding-bottom: 2rem;
}

.main {
  position: relative;
}

a {
  color: white;
}

.bg-finalcheckout {
  background-image: url(/img/checkout_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(60%);
}

/* End of Header */

.final-checkout-content {
  display: flex;
  justify-content: center;
}

.final-checkout-container {
  display: flex;
  flex-direction: column;
  border: 2px #d79f67 solid;
  align-items: center;
  backdrop-filter: brightness(70%);
  border-radius: 0 32px 0 32px;
  min-height: 300px;
  gap: 2rem;
  padding: 1rem;
  max-width: 600px;
  align-self: center;
}

h1,
h2 {
  font-size: 1rem;
  color: white;
}

.paragraph-text {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  color: ;
}

.checkmark {
  height: 5rem;
  width: 5rem;
}

.continue-shopping-button {
  border: none;
  background-color: transparent;
  color: #d79f67;
  border-bottom: #d79f67 1px solid;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.checkout-btn {
  text-decoration: none;
}

.continue-shopping-button:hover {
  color: #d79f67a4;
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .bg-homepage {
    background-image: url(/img/tablet-bg.png);
  }
}

@media screen and (min-width: 769px) {
  .back-btn {
    display: none;
  }

  .mobile {
    display: none;
  }


}
