* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
}

.main {
  position: relative;
  z-index: 1000;
}

.bg-homepage {
  background: url(/img/mobile-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(65%);
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(185, 138, 90, 0.85);
  padding: 0;
  height: 170px;
  justify-content: center;
}

.shirt-btn,
.cart-btn {
  width: 2rem;
}

.header-logo-container {
  display: flex;
  justify-content: center;
}

.header-logo {
  align-self: center;
  width: 14rem;
}

.header-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.back-btn {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 15px;
  width: 14rem;
  height: 3rem;
  margin-top: 2rem;
  border: solid #d79f67 2px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer {
  background-color: #0b353f;
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 0.5rem;
  justify-content: center;
  height: 96px;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.social-btn {
  display: flex;
  gap: 2rem;
}

.footer-logo {
  height: 3rem;
}

.footer-text {
  margin: 1rem;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-collection {
  border: solid 4px rgba(185, 138, 90, 0.85);
  border-right: 0;
  border-left: 0;

  padding: 1rem;
  backdrop-filter: brightness(65%);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.collection-image {
  width: 15rem;
  height: 15rem;
}

.desktop {
  display: none;
}

@media screen and (min-width: 481px) {
  .bg-homepage {
    background-image: url(/img/tablet-bg.png);
  }

  .paragraph-container {
    width: 25rem;
  }
}

@media screen and (min-width: 769px) {
  .desktop {
    display: block;
  }
  .back-btn {
    display: none;
  }

  .container-collection {
    border: solid 2px #d79f67;
    border-radius: 0 15px 0 15px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    height: 30rem;
    width: 40vw;
    max-width: 30rem;
  }

  .section-wrapper {
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 5rem;
  }

  .bg-homepage {
    background-image: url(/img/collection_bg.jpg);
  }

  .mobile {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 170px;
  }

  .nav-links {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    justify-content: flex-end;
    gap: 2rem;
  }

  .nav-text {
    font-size: 1.3rem;
    min-width: fit-content;
    border-bottom: 2px solid white;
    padding-bottom: 0.2rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .nav-text:last-child {
    margin-right: 2rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .home-jacket {
    width: 9rem;
    height: 9rem;
  }
}
