* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Raleway", sans-serif;
}

main {
  min-height: calc(100vh - 96px);
  position: relative;
  padding-bottom: 2rem;
}

.main {
  position: relative;
}

a {
  color: white;
}

.bg-checkout {
  background-image: url(../img/checkout_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #04161b;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(50%);
}

.main-section {
  display: flex;
  justify-content: center;
}

.payment-title {
  font-size: 1rem;
  font-weight: 700;
}

.payment-form {
  min-width: 100%;
}

.billing-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 500px;
}

.billing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 500px;
}

.billing-form-container label {
  color: white;
  font-size: 0.5rem;
}

.billing-form-container input,
.billing-form-container textarea {
  background-color: #98734b;
  color: white;
  border-radius: 4px;
  border: 1px #d79f67 solid;
}

.billing-form {
  border: solid #d79f67;
  color: white;
  backdrop-filter: brightness(65%);
  display: flex;
  flex-direction: column;
  border-radius: 0 43px 0 43px;
  gap: 0.5rem;
  padding: 1rem;
  max-width: fit-content;
}

.cardnum-expdate-container {
  margin-right: 10px;
}

.payment-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 500px;
}

.payment-form-container label {
  color: white;
  font-size: 0.5rem;
}

.payment-form-container input,
.payment-form-container textarea {
  background-color: #98734b;
  color: white;
  border-radius: 4px;
  border: 1px #d79f67 solid;
}

.payment-form {
  border: solid #d79f67;
  color: white;
  backdrop-filter: brightness(65%);
  display: flex;
  flex-direction: column;
  border-radius: 0 43px 0 43px;
  gap: 0.5rem;
  padding: 1rem;
  max-width: fit-content;
}

.full-name-container {
  display: flex;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-container:last-child {
  padding-left: 2rem;
}

.name-container input {
  width: 100%;
}

.state-city-container {
  display: flex;
}

.state-city-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.state-city-box:last-child {
  padding-left: 2rem;
}

.state-city-box input {
  width: 100%;
}

.postal-phone-container {
  display: flex;
}

.postal-phone-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postal-phone-box:last-child {
  padding-left: 2rem;
}

.postal-phone-box input {
  width: 100%;
}

.email-container input {
  width: 100%;
}
.subject-container {
  display: flex;
  flex-direction: column;
}
.subject-container input {
  width: 50%;
}

.message-container {
  display: flex;
  flex-direction: column;
}
.message-container textarea {
  width: 100%;
  height: 10vh;
  padding: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.send--btn {
  color: white;
  background-color: #d79f67;
  border: 1px #d79f67 solid;
  border-radius: 4px;
  display: flex;
  padding: 0.3rem 0;
  justify-content: center;
  width: 6rem;
}

.credit-logo-container {
  font-size: 0.8rem;
}

.paypal-h1-p-container {
  border: 1px solid #d79f67;
  background-color: #d79f67a4;
  border-radius: 4px;
  padding-left: 1rem;
}

.paypal-text {
  font-size: 0.5rem;
}

.pay-card-box {
  border: 1px solid #d79f67;
  background-color: #d79f67a4;
  border-radius: 4px;
  padding-left: 1rem;
}

.exp-date-box {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px;
  flex-direction: row;
  gap: 2rem;
}

.confpayment-button-container {
  display: flex;
  justify-content: flex-end;
}

label,
input {
  display: flex;
  flex-direction: column;
}

.card-number-input {
  width: 200px;
  height: 44px;
}

.exp-date-input {
  width: 80px;
  height: 40px;
}

.ccv-input {
  width: 50px;
  height: 40px;
}

.confpayment-button {
  color: white;
  background-color: #d79f67;
  border-color: #d79f67;
  border-radius: 8px;
  display: flex;
  padding: 0.3rem 0;
  justify-content: center;
  width: 10rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.confpayment-button:hover {
  color: rgba(255, 255, 255, 0.726);
  border-color: #d79f67a4;
  background-color: #d79f67a4;
  cursor: pointer;
}

.footer {
  background-color: #0b353f;
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 0.5rem;
  justify-content: center;
  height: 96px;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.social-btn {
  display: flex;
  gap: 2rem;
}

.footer-logo {
  height: 3rem;
}

.footer-text {
  margin: 1rem;
}

.desktop {
  display: none;
}

.paragraph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
  .back-btn {
    display: none;
  }

  .bg-homepage {
    background-image: url(/img/homepage_bg.jpg);
  }

  .mobile {
    display: none;
  }

  .billing-form-container {
    display: flex;
    flex-direction: row;
    max-width: none;
  }

  .map-container {
    min-width: 340px;
    height: auto;
  }

  .paragraph-container {
    display: flex;
    width: 44.3rem;
    height: 45rem;
    backdrop-filter: brightness(50%);
    align-items: left;
    padding-top: 1rem;
  }

  .paragraph-text {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 3rem;
  }
}
