* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", "Raleway", sans-serif;
  }
  
  main {
    min-height: calc(100vh - 96px);
    position: relative;
  }
  
  .main {
    position: relative;
    z-index: 1000;
  }

  .bg-homepage {
    background-image: url(/img/collection_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(65%);
    z-index: 100;
  }
  
  .product-info-container {
    color: #d79f67;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }



  .size {
    display: flex;
    gap: 2rem;
    color: #d79f67;
  }

  .jacket {
    height: 12rem;
  }

  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    width: 8rem;
    border-radius: 15px;
    height: 2.5rem;
    margin-top: 2rem;
    border: solid #d79f67 2px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-bottom: 2rem;
    align-self: center;
  }
  
  .desktop {
    display: none;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }
  
  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #error {
    color: white;
  }

  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
  }
  
  
  
  @media screen and (min-width: 481px) {
  
    .paragraph-container {
      width: 25rem;
    }
  }
  
  @media screen and (min-width: 769px) {
    .back-btn {
      display: none;
    }
  
    .mobile {
      display: none;
    }
  
    .product-info-container {
      color: #d79f67;
      display: flex;
      gap: 1rem;
      text-align: start;
      align-items: flex-start;
    }

    #root {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 2rem;
      flex-direction: row;
      margin: 4rem;
    }

    .product-description {
      max-width: 400px;
    }

    .size {
      display: flex;
      gap: 2rem;
      color: #d79f67;
    }
  
    .jacket {
      height: 20rem;
      margin-right: 2rem;
    }
  
    .button-body-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .desktop-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      width: 16rem;
      border-radius: 15px;
      height: 2.5rem;
      margin-top: 2rem;
      border: solid #d79f67 2px;
      background-color: rgba(0, 0, 0, 0.65);
      color: white;
      font-weight: 700;
      text-decoration: none;
      text-underline-offset: 2px;
      font-size: 1.5rem;
    }
  }
  